body {
    font-size: 62.5%;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-size: 1.2rem;
    width: 100vw;
    height: 100vh;
}

.item {
    display: inline-flex;
}

h1 {
    text-align: center;
}

hr {
    width: 90%;
    margin: 3px auto;
}

.title, .footer {
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.aside {
    width: 200px;
    height: 60vh;
    padding-top: 10px;
    flex-direction: column;
}

.aside > span {
    margin: 0 3px;
}

.main {
    width: 80vw;
    height: 60vh;
    padding: 10px;
}

.green {
    background-color: darkcyan;
}

.blue {
    background-color: deepskyblue;
}

.purple {
    background-color: rebeccapurple;
}

.orange {
    background-color: orange;
}

@media screen and (max-width: 600px) {

    .aside, .main {
        width: 100vw;
        height: 30vh;
    }

    .title {
        order: 0;
    }

    .main {
        order: 1;
    }

    .aside, .footer {
        order: 2;
    }

}