body {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100vw;
}

.item {
    height: 30vh;
    width: 23vw;
    margin: 1%;
}

#d1 {
    background-color: darkcyan;
}

#d2 {
    background-color: deepskyblue;
}

#d3 {
    background-color: rebeccapurple;
}

#d4 {
    background-color: orange;
}

#d5 {
    background-color: red;
    flex-basis: 99vw;
}

#d6 {
    background-color: darkcyan;
}

#d7 {
    background-color: deepskyblue;
}

#d8 {
    background-color: rebeccapurple;
}

#d9 {
    background-color: orange;
}

.item > p {
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.59);
    border-radius: 50px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px){

    .item {
        height: 30vh;
        width: 45vw;
    }

}

@media screen and (max-width: 600px){

    .item {
        height: 30vh;
        width: 99vw;
    }

    #d5 {
        width: 99vw;
    }

    #d6, #d7, #d8, #d9 {
        display: none;
    }
}